article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.foot {
  background-color: #533254;
  width: 100%;
  clear: both;
  text-align: center;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-top: 42rem;
  padding-bottom: 1px; }

.foot h5 {
  padding-top: 3rem; }

/*@MEDIA'S*/
@media all and (min-width: 100px) and (max-width: 700px) {
  .foot {
    background-color: #533254;
    width: 100%;
    clear: both;
    text-align: center;
    left: 0;
    bottom: 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top: 5px solid #916D8E;
    margin-top: 82rem;
    padding-bottom: 1px; } }
html {
  background: #804E82;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.wrapper {
  max-width: 1020px;
  margin: 0 auto; }

.masthead {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
  height: 180px;
  border-bottom: 2px solid #cbbbbf;
  margin-top: -20px;
  margin-bottom: 25px;
  background-color: #533254; }

body {
  background-color: #804E82;
  text-align: center; }

p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: "Cuprum";
  opacity: 0; }

h1 {
  padding-top: 5px; }

h2 {
  font-family: "Shadows Into Light";
  color: #F494F7;
  text-shadow: .5px .5px 1px #000000; }

h3 {
  font-family: "Cuprum";
  text-align: center; }

h4 {
  font-family: "Cuprum";
  text-align: center; }

h5 {
  font-family: "Cuprum"; }

.col-3 {
  background: #f7afff;
  opacity: .5;
  height: 320px;
  float: left;
  border-radius: 1rem;
  width: 31.33333%;
  margin-left: 3%;
  border-bottom: 5px solid #916D8E;
  text-align: center;
  overflow: hidden; }
  .col-3:first-child {
    margin-left: 0; }

.col-3 p {
  font-size: 14.1px;
  color: #000000;
  background-color: #BF74C2;
  padding-bottom: 5rem;
  padding-top: 1.5rem; }

.col-3 h3 {
  opacity: 0;
  color: #fff;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #333333; }

.box1:hover {
  opacity: 0.9; }

.box1:hover p {
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
  opacity: 1; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate(0, 300px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate(0, 150px); }
  100% {
    -webkit-transform: translate(0, 300px); } }
.box1:hover .iconic {
  max-width: 30px;
  max-height: 30px;
  margin-top: .1rem;
  opacity: 0;
  -webkit-filter: blur(4px);
  transition: all 0.35s ease-in-out; }

.box1:hover h3 {
  font-size: 3rem;
  transition: all 0.35s ease-in-out;
  opacity: 1; }

.box2:hover {
  opacity: 0.9; }

.box2:hover p {
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
  opacity: 1; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate(0, 300px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate(0, 150px); }
  100% {
    -webkit-transform: translate(0, 300px); } }
.box2:hover .iconic {
  max-width: 30px;
  max-height: 30px;
  margin-top: .1rem;
  opacity: 0;
  -webkit-filter: blur(4px);
  transition: all 0.35s ease-in-out; }

.box2:hover h3 {
  font-size: 3rem;
  transition: all 0.35s ease-in-out;
  opacity: 1; }

.box3:hover {
  opacity: 0.9; }

.box3:hover p {
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
  opacity: 1; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate(0, 300px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate(0, 150px); }
  100% {
    -webkit-transform: translate(0, 300px); } }
.box3:hover .iconic {
  max-width: 30px;
  max-height: 30px;
  margin-top: .1rem;
  opacity: 0;
  -webkit-filter: blur(4px);
  transition: all 0.35s ease-in-out; }

.box3:hover h3 {
  font-size: 3rem;
  transition: all 0.35s ease-in-out;
  opacity: 1; }

.col-4 {
  background: #B181B2;
  opacity: .92;
  height: 250px;
  float: left;
  margin-top: 2rem;
  border-radius: 1rem;
  border-bottom: 5px solid #916D8E;
  width: 24.25%;
  margin-left: 1%;
  border: none; }
  .col-4:first-child {
    margin-left: 0; }

.col-4 p {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  opacity: .1; }

.col-4 h4 {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  opacity: .1; }

.col-4:hover {
  box-shadow: 1px 1px #916D8E, 2px 2px #916D8E, 3px 3px #916D8E;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  background-color: #F5B0F7; }

.col-4:hover p {
  transition: all 0.3s linear;
  opacity: 1; }

.col-4:hover h4 {
  transition: all 0.3s linear;
  opacity: 1;
  transform: scale(1.2); }

.btn {
  font-size: 12px;
  text-align: center;
  border-radius: .5rem;
  width: 60%;
  margin-left: 3%;
  margin-left: 2%;
  margin-bottom: 1rem;
  margin-top: 50px;
  background-color: #fff;
  color: #000000; }
  .btn:first-child {
    margin-left: 0; }

.btn:hover {
  background-color: #cbbbbf; }

.iconic {
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
  opacity: .8;
  transition: all 0.10s linear; }

/*@MEDIA'S*/
@media all and (min-width: 100px) and (max-width: 700px) {
  h2 {
    font-size: 1.35rem; }

  .col-3 {
    width: 98%;
    border-radius: 1rem;
    background-color: #f7afff;
    float: left;
    height: 360px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-bottom: 5px solid #916D8E;
    height: 250px; }

  .iconic {
    max-width: 10rem;
    max-height: 70%;
    margin-top: 3rem;
    opacity: .8; }

  .col-3 p {
    font-size: 11px;
    padding-top: .5rem; }

  .btn {
    font-size: 9px;
    text-align: center;
    border-radius: .5rem;
    margin-left: 2%;
    margin-bottom: 1rem;
    margin-top: 40px; }

  .col-4 {
    width: 48.75%;
    border-radius: .5rem;
    position: relative;
    background-color: #B181B2;
    float: left;
    height: 225px;
    margin: 0.5%;
    margin-bottom: 55px;
    border-bottom: 5px solid rgba(239, 239, 239, 0.25);
    margin-bottom: 5px; }

  text-align: center;
  margin: 6px; }

/*# sourceMappingURL=sasspage.css.map */
