@import "variables";
@import "normalize";
@import "mixins";
@import "sticky-footer";

html {
    background: $colorBG;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}
.masthead {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;
    height: 180px;
    border-bottom: 2px solid #cbbbbf;
    margin-top: -20px;
    margin-bottom: 25px;
    background-color: $colorhf;
}
body {
    //    background-image: url(../img/cube-bg.jpg);
    background-color: $colorBG;
    text-align: center;
    
}
p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: $f-family2;
    opacity: 0;
}
h1{
padding-top: 5px;    
}
h2 {
    font-family: $f-familyh2;
    color: #F494F7;
    text-shadow: .5px .5px 1px #000000;
    
    
}
h3 {
    font-family: $f-family2;
    text-align: center;
}
h4 {
    font-family: $f-family2;
    text-align: center;
}
h5 {
    font-family: $f-family2;
}










////////////ROWS////////////////
 .col-3 {
    background: $colorrow1;
    opacity: .5;
    height: 320px;
    float: left;
    border-radius: 1rem;
    // equalSpaced( $num_of_cols, $spacing, $width  )
    @include equalSpaced(3, 3%, 100%);
    //    overflow: auto;
    border-bottom: 5px solid #916D8E;
     text-align: center;
     overflow: hidden;
}
//.col-3 box {
//    text-align: center;
//}
 .col-3 p {
    font-size: 14.1px;
     color: #000000;
     background-color: $ColorBGp;
     padding-bottom: 5rem;
     padding-top: 1.5rem;;
     
     
}

.col-3 h3{
    opacity: 0;
    color: #fff;
    -webkit-text-stroke-width: .1px;
   -webkit-text-stroke-color: #333333;  
}





/////////////////ROW 1 box hover/////////////////////


 .box1:hover {
//    -webkit-transform: scale(1.1);
//    -ms-transform: scale(1.1);
//    transform: scale(1.1);
    opacity: 0.9;
}

//PARAGRAPH SLIDE UP//

.box1:hover p{
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
    opacity: 1;

}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translate(0,300px);
    }
 
    100% {
       -webkit-transform: translate(0, 0px);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translate(0, 150px);
    }
 
    100% {
       -webkit-transform: translate(0, 300px);
    }
}



.box1:hover .iconic{
    max-width: 30px;
    max-height: 30px;
//    margin-left: 33%;
    margin-top: .1rem;
    opacity: 0;
    -webkit-filter: blur(4px);
transition: all 0.35s ease-in-out;
}




.box1:hover h3{
    font-size: 3rem;
  transition: all 0.35s ease-in-out;
    opacity: 1;
    
}


/////////////////ROW 2 box hover/////////////////////


 .box2:hover {
//    -webkit-transform: scale(1.1);
//    -ms-transform: scale(1.1);
//    transform: scale(1.1);
    opacity: 0.9;
     
}

//PARAGRAPH SLIDE UP//

.box2:hover p{
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
    opacity: 1;

}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translate(0,300px);
    }
 
    100% {
       -webkit-transform: translate(0, 0px);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translate(0, 150px);
    }
 
    100% {
       -webkit-transform: translate(0, 300px);
    }
}



.box2:hover .iconic{
    max-width: 30px;
    max-height: 30px;
//    margin-left: 33%;
    margin-top: .1rem;
    opacity: 0;
    -webkit-filter: blur(4px);
transition: all 0.35s ease-in-out;
}




.box2:hover h3{
    font-size: 3rem;
  transition: all 0.35s ease-in-out;
    opacity: 1;
    
}









/////////////////ROW 3 box hover/////////////////////


 .box3:hover {
//    -webkit-transform: scale(1.1);
//    -ms-transform: scale(1.1);
//    transform: scale(1.1);
    opacity: 0.9;
}

//PARAGRAPH SLIDE UP//

.box3:hover p{
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
    opacity: 1;

}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translate(0,300px);
    }
 
    100% {
       -webkit-transform: translate(0, 0px);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translate(0, 150px);
    }
 
    100% {
       -webkit-transform: translate(0, 300px);
    }
}



.box3:hover .iconic{
    max-width: 30px;
    max-height: 30px;
//    margin-left: 33%;
    margin-top: .1rem;
    opacity: 0;
    -webkit-filter: blur(4px);
transition: all 0.35s ease-in-out;
}




.box3:hover h3{
    font-size: 3rem;
  transition: all 0.35s ease-in-out;
    opacity: 1;
    
}







.col-4 {
    background: $colorrow2;
    opacity: .92;
    height: 250px;
    float: left;
    margin-top: 2rem;
    border-radius: 1rem;
    border-bottom: 5px solid #916D8E;
    // equalSpaced( $num_of_cols, $spacing, $width  )
    @include equalSpaced(4, 1%, 100%);
     border: none;
}


.col-4 p {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    opacity: .1;
}
.col-4 h4 {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    opacity: .1;
}
.col-4:hover {
    box-shadow: 1px 1px #916D8E, 2px 2px #916D8E, 3px 3px #916D8E;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    background-color: $colorrow2hover;
}
.col-4:hover p,
{
    transition: all 0.3s linear;
    opacity: 1;
}
.col-4:hover h4,
{
    transition: all 0.3s linear;
    opacity: 1;
    transform: scale(1.2)
}
////////////BOX ITEM ALIGNMENT////////////
.btn {
    font-size: 12px;
    text-align: center;
    border-radius: .5rem;
    @include equalSpaced(1, 3%, 60%);
    margin-left: 2%;
    margin-bottom: 1rem;
    margin-top: 50px;
    background-color: #fff;
    color: #000000;
}
.btn:hover {
    background-color: #cbbbbf;
}
.iconic {
    width: 10rem;
    height: 10rem;
//    margin-left: 33%;
    margin-top: 5rem;
    opacity: .8;
    transition: all 0.10s linear;
}



/*@MEDIA'S*/

@media all and (min-width: 100px) and (max-width: 700px) {
    
    
    
    h2{
        font-size: 1.35rem;
    }
    
    
    
    .col-3 {
        width: 98%;
        border-radius: 1rem;
        background-color: $colorrow1;
        float: left;
        height: 360px;
        margin: 0 auto;
        margin-bottom: 15px;
        border-bottom: 5px solid #916D8E;
        height: 250px;
        
    }
    
    .iconic {
    max-width: 10rem;
    max-height: 70%;
//    margin-left: 33%;
    margin-top: 3rem;
    opacity: .8;
}

    
    .col-3 p {
        font-size: 11px;
     padding-top: .5rem;;
     
        
    }
    .btn {
        font-size: 9px;
        text-align: center;
        border-radius: .5rem;
        margin-left: 2%;
        margin-bottom: 1rem;
        margin-top: 40px;
    }
    .col-4 {
        width: 48.75%;
        border-radius: .5rem;
        position: relative;
        background-color: $colorrow2;
        float: left;
        height: 225px;
        margin: 0.5%;
        margin-bottom: 55px;
        border-bottom: 5px solid rgba(239, 239, 239, 0.25);
        margin-bottom: 5px;
    }
    text-align:center;
    margin:6px;
}
@media all and (min-width: 701px) {}