@import "variables";
@import "normalize";
@import "mixins";
@import "sticky-footer";
 

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.wrapper {
  max-width: 1020px;

  margin: 0 auto; }


.masthead {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;

  text-align: center;
  height: 180px;
  border-bottom: 5px solid #916D8E;
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: $colorhf;
}


body { 
//    background-image: url(../img/cube-bg.jpg);
    background-color: #fff;
}
p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}


////////////ROWS////////////////



.col-3 {
    background: $colorrow1;
    opacity: .9;
    height: 320px;
    float: left;
    border-radius: 1rem;
    // equalSpaced( $num_of_cols, $spacing, $width  )
    @include equalSpaced(3, 3%, 100%);
//    overflow: auto;
    border-bottom: 5px solid #916D8E;
}
//.col-3 box {
//    text-align: center;
//}

.col-4 {
    background: $colorrow1;
    opacity: .92;
    height: 250px;
    float: left;
    margin-top: 2rem;
    border-radius: 1rem;
    border-bottom: 5px solid #916D8E;
    // equalSpaced( $num_of_cols, $spacing, $width  )
    @include equalSpaced(4, 1%, 100%);
}

.col-4 p {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


////////////BOX ITEM ALIGNMENT////////////
.btn {
    text-align: center;
    border-radius: 1rem;
    @include equalSpaced(1, 3%, 60%);
    margin-left: 20%;
    margin-bottom: 1rem;
}
.iconic{
    max-width: 70%;
    max-height: 70%;
    margin-left: 33%;
    margin-top: 1rem;
}

