$f-size: 3rem;
$f-sizep: 1rem;



/////Colors/////


//Header and Footer//

$colorhf: #533254; 


//Background//

$colorBG: #804E82;

//Rows//

$colorrow1: #f7afff;

$colorrow2: #B181B2;

$colorrow2hover: #F5B0F7;


//Paragraph BG//

$ColorBGp: #BF74C2;






/////Fonts/////

$f-family2:'Cuprum';
$f-familyh2:'Shadows Into Light';